@import-normalize;

.drawing-canvas-container {
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  background: var(--primary-color);

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-template-rows: 1fr;
  grid-auto-rows: 150px;
  grid-gap: 1rem;
}

.drawing-canvas-container .main {
  background: var(--background);
  grid-column: -2 / 1;
}

.drawing-canvas-container .tools {
  grid-column: -2;
}
